<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odero.bigtwo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigTwo">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <activity android:name=".ui.SavedResultListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odero.bigtwo.ui.WelcomeActivity" />
        </activity>
        <activity android:name=".ui.ResultDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odero.bigtwo.ui.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.ResultsActivity">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odero.bigtwo.ui.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odero.bigtwo.ui.LogInActivity" />
        </activity>
        <activity
            android:name=".ui.SignInActivity"
            android:theme="@style/NoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odero.bigtwo.ui.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.LogInActivity"
            android:theme="@style/NoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odero.bigtwo.ui.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>